/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* MAIN CONTAINER */
.home-container {
  padding: 60px;
  background: #f8fafc;
  min-height: 100vh;
}

/* PAGE TITLE */
.page-title {
  text-align: center;
  font-size: 32px;
  color: #1e40af;
  margin-bottom: 40px;
}

/* BOOK GRID */
.book-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 books per row */
  gap: 30px;
}


@media (max-width: 900px) {
  .book-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .book-grid {
    grid-template-columns: 1fr;
  }
}
/* BOOK CARD */
.book-card {
  background: #ffffff;
  border-radius: 16px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease;
  cursor: pointer;
}

/* HOVER EFFECT */
.book-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 18px 35px rgba(0, 0, 0, 0.15);
}

/* BOOK IMAGE */
.book-card img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-radius: 12px;
}

/* BOOK TITLE */
.book-card h3 {
  margin: 15px 0 5px;
  font-size: 18px;
  color: #0f172a;
}

/* AUTHOR */
.author {
  font-size: 14px;
  color: #475569;
  margin-bottom: 8px;
}

/* CATEGORY BADGE */
.category {
  display: inline-block;
  padding: 5px 14px;
  background: #e0f2fe;
  color: #0284c7;
  font-size: 12px;
  font-weight: 500;
  border-radius: 14px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .home-container {
    padding: 30px 20px;
  }

  .page-title {
    font-size: 26px;
  }

  .book-card img {
    height: 220px;
  }
}